.profile-container {
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  font-family: 'Arial', sans-serif;
}

.user-profile-header {
  display: flex;
  align-items: center;
  gap: 0;
  border-bottom: 2px solid #4C3575;
  padding-bottom: 15px;
}

.user-profile-header h3 {
  font-size: 1.3rem;
  margin-left: 10px;
  color: #333;
}

.user-profile-header .back-button {
  color: black;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
}



.profile-content {
  display: flex;
  align-items: flex-start;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: white;
  margin-top: 10px;
}

.profile-card {
  padding: 15px;
  text-align: center;
  width: 250px;
  border-right: 1px solid rgb(124, 123, 123);
  margin: 5px;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-details {
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.domain-title {
  font-size: 18px;
  font-weight: bold;
  color: #4C3575;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-bottom: 1px solid #4C3575;
  padding-bottom: 5px;
}
.department-info {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  margin-bottom: 15px;
}
.detail-item-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 15px;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 10px;  
  font-size: 12px;
  color: #333;
 
}

.detail-item svg { 
  min-width: 10px; 
}


.profile-projects {
  margin-top: 20px;
}

.profile-projects h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.user-projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px; 
}

.user-project-card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
  color: #333;
  transition: transform 0.2s ease-in-out;
}

.user-project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}
